*{
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: min(90%, 500px);
    aspect-ratio: 2 / 1;
    margin-inline: auto;
    background-color: hsl(61, 70%, 70%);
    display: grid;
    place-items: center;
    margin-block: 7%;
    border-radius: 10px;
    transition: 400ms;
    opacity: 0;
    scale: 0.8;
}
.card.shown {
    opacity: 1;
    scale: 1;
}